/* Font  */
    @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* Default styles */
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif; 
    }

    :root{
        /* Green  */
        --green-dark: #6FB38C;
        --green-midle: #74CC9A;
        --green-light: #B9FFAB;

        --blue: #90BAE8;
        --orange: #FFDC9E;
        --purple: #DDABFF;
    }


/* Navbar  */


/* Hr  */
.hr{
    height: 2px;
    background-color: var(--blue);
    border: none;
    margin: auto;
}

.hr.long{
    width: 80%;
}

.hr.short{
    width: 40%;
}


/* Desktop  */
@media (min-width: 768px){
    .App{
        margin-bottom: 3rem;
    }

    /* Main grid   */
    .container{
        display: grid;
        grid-template-columns: 5rem 1fr 5rem;
    }
}
      
/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){

    .App{
        margin-bottom: 2rem;
    }

    /* Main grid   */
    .container{
        display: grid;
        grid-template-columns: 2rem 1fr 2rem;
    }
}

