.contact{
    grid-column: 2/3;
    padding: 2rem 0;
    display: grid;
    grid-template-rows: 5rem 10rem 20rem;
}

.contact .title{
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.contact .image{
    display: grid;
}

.contact .image img{
    width: 40%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.contact .social-media{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10%;
}

.social-media .phone-container{
    display: grid;
    grid-template-columns: 6rem 1fr;
}

.phone-container img{
    grid-column: 1/2;
    width: 30%;
    justify-self: center;
    align-self: center;
}

.phone-container span{
    grid-column: 2/3;
    justify-self: start;
    margin-left: 5%;
    align-self: center;
}

.email-container{
    display: grid;
    grid-template-columns: 6rem 1fr;
    margin-bottom: 10%;
}

.email-container img{
    grid-column: 1/2;
    width: 30%;
    justify-self: center;
    align-self: center;
}

.email-container span{
    grid-column: 2/3;
    justify-self: start;
    margin-left: 5%;
    align-self: center;
}

.contact .social-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 3rem 3rem;
    margin-top: 5%;
}

.social-icons > i{
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}


/* Animations and transitions  */
.fa-twitter-square{
    transition: transform .2s,
                color .2s .3s;
}
.fa-twitter-square:hover{
    cursor: pointer;
    color: #00A6E9;
}
/* --  */
.fa-facebook-square{
    transition: transform .2s,
                color .2s .3s;
}
.fa-facebook-square:hover{
    cursor: pointer;
    color: #4064AC;
    animation: insta-style linear 5s ease-in-out infinite;

}
/* --  */
.fa-instagram{
    transition: transform .2s,
                color .2s .3s,
                animation .2s;
}
.fa-instagram:hover{
    cursor: pointer;
    animation: instaStyle infinite alternate 5s;
}

/* Animations  */
@keyframes instaStyle {
    0%  { color: #96269D; }
    15% { color: #6F53C4; }
    30% { color: #465BCE; }
    45% { color: #AE318B; }
    50% { color: #D3544B; }
    75% { color: #F5C162; }
    90% { color: #E26F49; }
    90% { color: #96269D; }
}

/* Desktop  */
@media (min-width: 768px){

    .contact{
        grid-template-rows: 5rem 20rem 15rem;
    } 
    

    .contact .image img{
        width: 20%;
    }

    .contact .social-media{
        margin-top: 0;
    }

    .social-media .phone-container{
        justify-self: center;
    }


    .email-container{
        margin-top: 2%;
        margin-bottom: 2%;
        justify-self: center;
    }

    .contact .social-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 3rem 3rem;
        margin-top: 0%;
    }

    .fa-twitter-square:hover{
        transform: scale(2);
    }

    .fa-facebook-square:hover{
        transform: scale(2);
    }

    .fa-instagram:hover{
        transform: scale(2);
    }
}

/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){

    .contact{
        grid-template-rows: 5rem 10rem 20rem;
    }


    .contact .image img{
        width: 40%;
    }

    .contact .social-media{
        margin-top: 10%;
    }


    .contact .social-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 3rem 3rem;
        margin-top: 5%;
    }

    .fa-twitter-square:hover{
        transform: scale(1.5);
    }

    .fa-facebook-square:hover{
        transform: scale(1.5);
    }

    .fa-instagram:hover{
        transform: scale(1.5);
    }

}
