/* Container navbar  */
.navbar-app{
    width: 100%;
    height: 3rem;
    padding: .5rem 0;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 0 0 10px #000;
    background-color: var(--green-dark);

}

.code-icon{
    animation: colorChange infinite alternate 2s;
}

.contact-text:hover,
.skills-text:hover,
.home-text:hover{
    cursor: pointer;
}

.contact-text:hover.box-item::before,
.skills-text:hover.box-item::before,
.home-text:hover.box-item::before{
    background-color: rgb(153, 255, 132);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transform: scale(.8);
}

.box-item{
    justify-self: center;
    align-self: start;
    padding: .5rem 2rem;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-size: .8rem; 
}

.box-item::before{
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: white;
    content: " ";
    border-radius: 50%;
    top: 85%;
    left: 45%;
    transition: background-color .2s,
                box-shadow .3s,
                transform .2s;
}

/* Desktop  */
@media (min-width: 768px){

    .nav-mobile{
        display: none;
    }
       
    .nav-desktop{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 5px;
        list-style: none;
        position: absolute;
        width: 100%;
        height: 100%; 
    }

    .code-icon{
        grid-column: 1/2;
        align-self: center;
        color: #fff;
    }

    .nav-desktop .contact-text{
        grid-column: 5/6;
        align-self: center;
        justify-self: center;
    }

    .nav-desktop .skills-text{
        grid-column: 6/7; 
        align-self: center;
        justify-self: center;

    }

    .nav-desktop .home-text{
        grid-column: 7/8;
        align-self: center;
        justify-self: center;
    }
}
  
/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){
        
    /* Navbar  */
    .nav-mobile{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 5px;
    }

    .nav-desktop{
        display: none;
    }
    
    .code-icon{
        grid-column: 1/2;
        align-self: center;
        color: #fff;
    }
    
    .phone-icon{
        grid-column: 3/4;
        justify-self: center;
        align-self: center;
        color: #fff;
    }
    
    .brain-icon{
        grid-column: 4/5;
        justify-self: center;
        align-self: center;
        color: #fff;
    }
    
    .home-icon{
        grid-column: 5/6;
        justify-self: center;
        align-self: center;
        color: #fff;
    }
}

@keyframes colorChange {
    0% {color: #fff; }

    50% {color: #6FB38C;}

    100%{color: #fff}
}