.photo-profle{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2px solid #B9FFAB;
    position: relative;
    box-shadow: 0 0 5px #000;
}

/* Desktop  */
@media (min-width: 768px){

    .photo-profle{
        width: 11rem;
        height: 11rem;
    }
}


/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){

    .photo-profle{
        width: 8rem;
        height: 8rem;
    }
}

