.phrase{
    margin-top: 8%;
    width: 100%;
    height: 16rem;
    position: relative;
    margin-bottom: 2rem;
}

.phrase .content{
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.phrase .text{
    grid-row: 1/2;
    text-align: center;
    align-self: center;
}

.phrase .img-boy{
    width: 100%;
    height: auto;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

@media (min-width: 768px){
    .phrase .img-boy{
        width: 40%;
    }

    .phrase .text{
        font-size: 1.5rem;
    }
}

/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){

    .phrase .img-boy{
        width: 100%;
    }
}