.presentation{
    width: 100%;
    height: 12rem;
    padding: 1rem 0;
}

.presentation .content{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30% 1fr;
}

.presentation .title{
    justify-self: center;
    align-self: center;
    font-weight: lighter;
}

.presentation .text{
    text-align: center;
    align-self: center;
}

/* Desktop  */
@media (min-width: 768px){

    .presentation{
        margin-top: 2rem;
    } 

}

/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){

    .presentation{
        margin-top: 5%;
    }
}