@media (min-width: 768px){

    .wall{
        background-image: url('../img/wall-profile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 4rem;
        width: 100%;
        height: 20rem;
    }

    .content-wall{
        position: absolute;
        width: 100%;
        height: 100%;
        /* grid  */
        grid-template-rows: 70% 1fr;
    }

    .container-profile-details{
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,0) 71%);
        position: relative;
    }

    .container-profile-details .content{
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 5rem 1fr 5rem;
        grid-template-rows: repeat(2,1fr);
    }
}

@media (min-width: 320px) and (max-width: 480px){

    .wall{
        height: 18rem;
        background-image: url('../img/wall-profile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: calc(3.5rem);
    }
    
    .content-wall{
        position: absolute;
        width: 100%;
        height: 100%;
        /* grid  */
        grid-template-rows: 70% 1fr;
    }
    
    .container-profile-details{
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,0) 71%);
        position: relative;
    }
    
    .container-profile-details .content{
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 2rem 1fr 2rem;
        grid-template-rows: repeat(2,1fr);
    }

}

.wall .name{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: .9rem;
    justify-self: center;
    align-self: end;
    color: #fff;
}

.wall .profession{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: .7rem;
    justify-self: center;
    color: #fff;
}