.skills{
    margin-top: 10%;
    width: 100%;
    margin-bottom: 10%;
}

.skills .content{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3% 1fr;
}

.skills .content .head{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    padding: 1rem;
}

.skills .title{
    justify-self: center;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.skills .body{
    grid-row: 2/3;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

/* Desktop  */
@media (min-width: 768px){

    .skills .body{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){
    
    .skills .body{
        grid-template-columns: repeat(1, 1fr);
    }
}

