.container-card{
    padding: 2rem 1rem;
}

.container-card .card{
    border-radius: 5px;
    width: 100%;
    height: 13rem;
    display: grid;
    grid-template-rows: 70% 1fr;
    margin: auto;
    background-color: var(--orange);
    transition: transform .2s;
    position: relative;
}
.container-card .card:hover{
    cursor: pointer;
    animation: changeColor infinite alternate 8s;
    transform: scale(1.1);
}

.container-card .card .details{
    position: absolute;
    border-radius: 5px;
    background-color: lightblue;
    transform: scale(0);
    transition: transform .2s .4s; /* Outside */
}

.card .details .text{
    position: absolute;
    filter: opacity(0);
    transition: filter .1s;
    text-align: center;
    padding: 2rem;
    font-size: .8rem;
    transition: filter .2s .1s;     /* Outside */
}
.container-card .card:hover .details .text{
    filter: opacity(1);
    transition: filter .2s;         /* Inside */
}

.container-card .card-body{
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 4rem;
}

.container-card .card-footer{
    grid-row: 2/3;
    display: grid;
    justify-content: center;
    padding: 1rem 0;
}

/* Animation  */
@keyframes changeColor{
    0%  { color: #000;}
    25% { color: var(--green-midle);}
    50% { color: var(--purple);}
    75% { color: var(--green-dark);}
    100% { color: var(--blue);}
}


/* Desktop  */
@media (min-width: 768px){

    .container-card .card{
        width: 40%;
    }

    .container-card .card .details{
        width: 100%;
        height: 80%;
        margin-top: 10%;
    }
    .container-card .card:hover .details{
        transform: scale(1) translateX(10rem);
        color: #000;
        transition: transform .2s;  /* Inside */
    }

    .card-body i,
    .card-footer p{
        transition: transform .5s .7s,
                    font-size .2s .7s;
        
    }
    .container-card .card:hover .card-body i,
    .container-card .card:hover .card-footer p{
        transform: translateX(-2rem);
        transition: transform .2s;  /* Inside */
        font-size: 1rem;
    }

}

/* Mobile  */
@media (min-width: 320px) and (max-width: 480px){

    .container-card .card{
        width: 100%;
    }

    .container-card .card .details{
        width: 65%;
        height: 100%;
        margin-top: 0%;
    }
    .container-card .card:hover .details{
        transform: scale(1);
        color: #000;
        transition: transform .2s;
    }

    .card-body i,
    .card-footer p{
        transition: transform .2s .5s,  
                    font-size .2s .5s;
    }
    .container-card .card:hover .card-body i,
    .container-card .card:hover .card-footer p{
        transform: translateX(5rem);
        font-size: .9rem;
        transition: transform .2s;
    }

}